# Игнорирование всех файлов в папке и подпапках проекта
*

# Исключение из игнорирования файлов с исходным кодом: 
!*.c
!*.h
!*.asm
!*.s
!*.m

# Исключение из игнорирования файлов текстовых форматов:
!*.txt
!*.md
!*.pdf

# Исключение из игнорирования файла конфигурации для doxygen
!*Doxyfile

# Исключение из игнорирования документации
!/docs/

# Игнорирование файла, содержащего определения макросов
*macros_definitions.h

!.gitignore